<template>
    <v-dialog v-model="dialog" width="500">
        <template v-slot:activator="{ on, attrs }">
            <v-btn
                color="blue ligthen-3"
                dark
                class="ma-2"
                fab
                small
                v-on="on"
                v-bind="attrs">
                <v-icon dark>mdi-plus</v-icon>
            </v-btn>
        </template>
        <v-card class="elevation-12">
            <v-toolbar
            color="primary"
            dark
            flat>
            <v-toolbar-title>Добавить</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
            <v-form
            ref="formAuth"
            v-model="valid">
                <v-text-field
                    v-model="email"
                    label="Электронная почта"
                    :rules="[rules.required, rules.email]"
                    name="email"
                    prepend-icon="mdi-email"
                    type="email"
                ></v-text-field>
                <v-text-field
                    v-model="address"
                    label="Адресс"
                    name="address"
                    prepend-icon="mdi-map"
                    :rules="[rules.required, rules.min]"
                    type="text"
                    required
                ></v-text-field>
                <v-text-field    
                    v-model="discount"  
                    label="Скидка"
                    :rules="[rules.required]"
                    name="discount"
                    prepend-icon="mdi-diamond"
                    type="number"
                ></v-text-field>
                <v-text-field    
                    v-model="password"  
                    label="Пароль"
                    :rules="[rules.required, rules.minPas]"
                    name="password"
                    prepend-icon="mdi-lock"
                    type="password"
                ></v-text-field>
                <v-col class="d-flex">
                      <v-select
                      :rules="[rules.required]"
                      v-model="selectRoleBind"
                      :items="selectRole"
                      label="Роль"
                      outlined>
                      </v-select>
                  </v-col>
            </v-form>
            </v-card-text>
            <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" 
            @click="addOrderItem" 
            :disabled="!valid">Добавить</v-btn>
            </v-card-actions>
            <div class="text-center ma-2">
            <v-snackbar
                v-model="snackbar"
            >
                {{ textSnackbar }}
                <template v-slot:action="{ attrs }">
                <v-btn
                    color="pink"
                    text
                    v-bind="attrs"
                    @click="snackbar = false"
                >
                    Close
                </v-btn>
                </template>
            </v-snackbar>
            </div>
        </v-card>
    </v-dialog>
</template>

<script>
  export default {
    props: {
      source: String,
    },
    methods: {
        async addOrderItem()
        {
            await this.$store.dispatch("userAdd", {Email:this.email, Address:this.address, Roles:"Customer", Password:this.password, Roles:this.selectRoleBind});
            await this.$store.dispatch("userList");
            this.dialog = false;
        },
    },
    computed: {
      status() {
        return this.$store.getters.getStatus;
      },
    },
    data () {
      return {
        dialog: false,
        discount: 0,
        valid: true,
        selectRoleBind: 'Customer',
        selectRole: ['Customer', 'Admin'],
        email: "",
        address: "",
        password: "",
        snackbar: false,
        textSnackbar: 'Товар добавлен',
        rules: {
          required: value => !!value || 'Обязательно для заполнения',
          max: v => v.length <= 30 || 'Максимальное значение категории 30 символов',
          min: v => v.length >= 10 || 'Минимальное значение адреса 10 символов',
          minPas: v => v.length >= 6 || 'Минимальное значение пароля 6 символов',
          emailMatch: () => ('The email and password you entered don\'t match'),
          email: value => {
            const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            return pattern.test(value) || 'Неверный адрес электронной почты'
          },
        },
      }
    },
  }
</script>

