<template>
  <v-card class="elevation-12">
    <v-toolbar
      color="primary"
      dark
      flat>
      <v-toolbar-title>Авторизация</v-toolbar-title>
    </v-toolbar>
    <v-card-text>
      <v-form
      ref="formAuth"
      v-model="valid">
        <v-text-field
            v-model="email"
            label="Электронная почта"
            :rules="[rules.required, rules.email]"
            name="email"
            prepend-icon="mdi-email"
            type="email"
        ></v-text-field>
        <v-text-field    
            v-model="password"  
            label="Пароль"
            :rules="[rules.required, rules.minPas]"
            name="password"
            prepend-icon="mdi-lock"
            type="password"
        ></v-text-field>
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="primary" 
      @click="authUser" 
      :disabled="!valid">Авторизироваться</v-btn>
    </v-card-actions>
    <div class="text-center ma-2">
      <v-snackbar
        v-model="snackbar"
      >
        {{ textSnackbar }}
        <template v-slot:action="{ attrs }">
          <v-btn
            color="pink"
            text
            v-bind="attrs"
            @click="snackbar = false"
          >
            Close
          </v-btn>
        </template>
      </v-snackbar>
    </div>
  </v-card>
</template>

<script>
  export default {
    props: {
      source: String,
    },
    methods: {
        async authUser()
        {
          await this.$store.dispatch("userAuth", {username:this.email, password:this.password});
          if (this.status == "400")
          {
            this.snackbar = true;
          } else  
          {
            this.email = "";
            this.password = "";
            this.$emit("close-dialogAuth");
          }
        },
    },
    computed: {
      status() {
        return this.$store.getters.getStatus;
      },
    },
    data () {
      return {
        valid: true,
        email: "",
        address: "",
        password: "",
        snackbar: false,
        textSnackbar: 'Электронная почта или пароль введены неверно',
        rules: {
          required: value => !!value || 'Обязательно для заполнения',
          minPas: v => v.length >= 6 || 'Минимальное значение пароля 6 символов',
          emailMatch: () => ('The email and password you entered don\'t match'),
          email: value => {
            const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            return pattern.test(value) || 'Неверный адрес электронной почты'
          },
        },
      }
    },
  }
</script>

