<template>
  <v-layout 
  class="home"
  fill-height
  justify-end
  column>

    <v-flex grow>
      <v-container fluid>
        <v-data-iterator
          no-data-text="Корзина пуста"
          :items="cart"
          :items-per-page.sync="itemsPerPage"
          :page="page"
          :search="search"
          :sort-by="sortBy.toLowerCase()"
          :sort-desc="sortDesc"
          hide-default-footer
        >
          <template v-slot:header>
            <v-toolbar
              dark
              color="blue darken-3"
              class="mb-1"
            >
              <v-text-field
                v-model="search"
                clearable
                flat
                solo-inverted
                hide-details
                label="Поиск"
              ></v-text-field>
              <template v-if="$vuetify.breakpoint.mdAndUp">
                <v-spacer></v-spacer>
                <v-select
                  v-model="sortBy"
                  flat
                  solo-inverted
                  hide-details
                  item-value="key"
                  item-text="text"
                  :items="keys"
                  label="Sort by"
                ></v-select>
                <v-spacer/>
                 <v-btn
                    color="blue lighten-1"
                    large
                    @click="addOrder">
                    Оформить заказ
                  </v-btn>
                <v-spacer/>
                <add-order-item 
                      v-if="role == 'Admin'"/>
                <v-btn-toggle
                  v-model="sortDesc"
                  mandatory
                >
                  <v-btn
                    large
                    depressed
                    color="blue"
                    :value="false"
                  >
                    <v-icon>mdi-arrow-up</v-icon>
                  </v-btn>
                  <v-btn
                    large
                    depressed
                    color="blue"
                    :value="true"
                  >
                    <v-icon>mdi-arrow-down</v-icon>
                  </v-btn>
                </v-btn-toggle>
              </template>
            </v-toolbar>
          </template>
          <template v-slot:default="props">
            <v-row>
              <v-col
                v-for="item in props.items"
                :key="item.itemid"
                cols="12"
                sm="6"
                md="4"
                lg="3"
              >
                <v-card>
                  <v-card-title class="subheading font-weight-bold">{{ item.itemName }}</v-card-title>

                  <v-divider></v-divider>

                  <v-list dense>
                    <v-list-item
                      v-for="(key, index) in filteredKeys"
                      :key="index"
                    >
                      <v-list-item-content :class="{ 'blue--text': sortBy === key.key }">{{ key.text }}:</v-list-item-content>
                      <v-list-item-content class="align-end" :class="{ 'blue--text': sortBy === key.key }">{{ item[key.key] }}</v-list-item-content>
                    </v-list-item>
                  </v-list>
                  <v-layout  
                  justify-end>
                    <delete-cart
                      :item="item"
                    />
                  </v-layout>
                </v-card>
              </v-col>
            </v-row>
          </template>
        </v-data-iterator>
      </v-container>
    </v-flex>
    <v-flex shrink
    class="px-5 pb-3">
      <v-row class="mt-2" align="center" justify="center">
        <span class="grey--text">Вывод элементов на одной странице</span>
        <v-menu offset-y>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              dark
              text
              color="primary"
              class="ml-2"
              v-bind="attrs"
              v-on="on"
            >
              {{ itemsPerPage }}
              <v-icon>mdi-chevron-down</v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item
              v-for="(number, index) in itemsPerPageArray"
              :key="index"
              @click="updateItemsPerPage(number)"
            >
              <v-list-item-title>{{ number }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>

        <v-spacer></v-spacer>

        <span
          class="mr-4
          grey--text"
        >
          Страниц {{ page }} из {{ numberOfPages }}
        </span>
        <v-btn
          fab
          dark
          color="blue darken-3"
          class="mr-1"
          @click="formerPage"
        >
          <v-icon>mdi-chevron-left</v-icon>
        </v-btn>
        <v-btn
          fab
          dark
          color="blue darken-3"
          class="ml-1"
          @click="nextPage"
        >
          <v-icon>mdi-chevron-right</v-icon>
        </v-btn>
      </v-row>
    </v-flex>
    <div class="text-center ma-2">
      <v-snackbar
        v-model="snackbar"
      >
        {{ textSnackbar }}
        <template v-slot:action="{ attrs }">
          <v-btn
            color="pink"
            text
            v-bind="attrs"
            @click="snackbar = false"
          >
            Close
          </v-btn>
        </template>
      </v-snackbar>
    </div>
  </v-layout>
  
</template>
<script>

import DeleteCart from './DeleteCart';
  export default {
    components:{
      DeleteCart,
    },
    data () {
      return {
        snackbar: false,
        textSnackbar: '',
        itemsPerPageArray: [4, 8],
        search: '',
        filter: {},
        sortDesc: false,
        page: 1,
        itemsPerPage: 4,
        sortBy: 'itemName',
        keys: [
          {key:'itemName', text: 'название'},
          {key:'itemCount', text: 'количество товара'},
          {key:'itemDiscount', text: 'цена'},
        ],
      }
    },
    created:async function() {
      await this.$store.dispatch("orderItemList");
    },
    computed: {
      status() {
        return this.$store.getters.getStatus;
      },
      numberOfPages () {
        return Math.ceil(this.cart.length / this.itemsPerPage)
      },
      filteredKeys () {
        return this.keys.filter(key => key.key !== `Name`)
      },
      role(){
        return this.$store.getters.getRole;
      },
      cart() {
      return this.$store.getters.getCart;
      },
    },
    methods: {
        async addOrder(){
        if(this.cart.length == 0)
        {
          this.snackbar = true;
          this.textSnackbar = 'Корзина пуста';
        } else {
            await this.$store.dispatch("orderCreate");
            this.cart.forEach(element => {
              this.$store.dispatch("orderCartCreate", {Orderitem_id: element.itemid,  ItemCount: element.itemCount})
            });
            this.$store.commit('setCart', []);
            this.snackbar = true;
            this.textSnackbar = 'Заказ создан';
        }
      },
      deleteCart(item){
          this.$store.commit('deleteCart',item);
      },
      nextPage () {
        if (this.page + 1 <= this.numberOfPages) this.page += 1
      },
      formerPage () {
        if (this.page - 1 >= 1) this.page -= 1
      },
      updateItemsPerPage (number) {
        this.itemsPerPage = number
      },
    },
  }
</script>