<template>
    <v-dialog v-model="dialog" persistent max-width="290">
      <template v-slot:activator="{ on, attrs }">
        <v-btn
            color="red darken-1"
            dark
            fab
            v-on="on"
            v-bind="attrs">
            <v-icon dark>mdi-delete</v-icon>
        </v-btn>
      </template>
      <v-card>
        <v-card-title class="headline">Удаление заказа</v-card-title>
        <v-card-text>Данное действие приведет к удалению заказа, вы уверены?</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="dialog = false">Нет</v-btn>
          <v-btn color="green darken-1" text @click="deleteOrderItem()">Да</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
</template>

<script>
  export default {
    props: {
        itemid: Number,
    },
    data () {
      return {
        dialog: false,
      }
    },
    methods: {
        async deleteOrderItem()
        {
            await this.$store.dispatch("deleteOrder", this.itemid);
            await this.$store.dispatch("orderListUser");
            this.dialog = false
        }
    },
  }
</script>