<template>
    <v-dialog v-model="dialog" width="500">
        <template v-slot:activator="{ on, attrs }">
            <v-btn
              color="red darken-2"
              dark
              class="mx-2 mb-2"        
              v-on="on"
              v-bind="attrs"
              fab>
              <v-icon dark>mdi-delete</v-icon>
            </v-btn>
        </template>
        <v-card class="elevation-12">
            <v-toolbar
            color="primary"
            dark
            flat>
            <v-toolbar-title>Сколько товаров оставить в корзине</v-toolbar-title>
            </v-toolbar>
            <span class="ma-2">Цена за кол-во со скидкой: {{countDiscount}}</span>
            <v-card-text>
            <v-form
            ref="formAuth"
            v-model="valid">
                <v-text-field    
                    v-model="count"  
                    label="Количество"
                    :rules="[rules.required, rules.minN, rules.maxN]"
                    name="count"
                    prepend-icon="mdi-diamond"
                    type="number"
                ></v-text-field>
            </v-form>
            </v-card-text>
            <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" 
            @click="addCartItem" 
            :disabled="!valid">Оставить</v-btn>
            </v-card-actions>
            <div class="text-center ma-2">
            <v-snackbar
                v-model="snackbar"
            >
                {{ textSnackbar }}
                <template v-slot:action="{ attrs }">
                <v-btn
                    color="pink"
                    text
                    v-bind="attrs"
                    @click="snackbar = false"
                >
                    Close
                </v-btn>
                </template>
            </v-snackbar>
            </div>
        </v-card>
    </v-dialog>
</template>

<script>
  export default {
    props: {
        item: Object,
    },
    methods: {
        async addCartItem()
        {
          const itemDiscount = (this.item.price * this.count) - ((this.item.price * this.count)*(this.discount/100));
          const countCart = this.cart.length;
          this.$store.commit('editCart', {itemid: this.item.itemid, itemCount: Number(this.count), itemName: this.item.itemName, itemDiscount: itemDiscount, price: this.item.price});
          this.dialog = false;
        },
    },
    computed: {
      status() {
        return this.$store.getters.getStatus;
      },
      discount() {
        return this.$store.getters.getDiscount;
      },
      cart() {
      return this.$store.getters.getCart;
    },
      countDiscount(){
          return (this.item.price * this.count) - ((this.item.price * this.count)*(this.discount/100));
      },
    },
    data () {
      return {
        dialog: false,
        valid: true,
        count: this.item.itemCount,
        snackbar: false,
        textSnackbar: 'Товар добавлен',
        rules: {
          required: value => !!value || 'Обязательно для заполнения',
          maxN: v => Number(v) < this.item.itemCount + 1 || 'Пользователь выбрал ' + this.item.itemCount + ' товаров',
          minN: v => Number(v) > -1 || 'Значение не может быть отрицательным',
        },
      }
    },
  }
</script>

