<template>
    <v-dialog v-model="dialog" width="500">
        <template v-slot:activator="{ on, attrs }">
            <v-btn
                color="green darken-1"
                dark
                class="mx-2 mb-2"
                fab
                v-on="on"
                v-bind="attrs">
                <v-icon dark>mdi-pencil</v-icon>
            </v-btn>
        </template>
        <v-card class="elevation-12">
            <v-toolbar
            color="primary"
            dark
            flat>
            <v-toolbar-title>Изменить</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
            <v-form
            ref="formAuth"
            v-model="valid">
                <v-text-field
                    v-model="email"
                    label="Электронная почта"
                    :rules="[rules.required, rules.email]"
                    name="email"
                    prepend-icon="mdi-email"
                    type="email"
                ></v-text-field>
                <v-text-field
                    v-model="address"
                    label="Адресс"
                    name="address"
                    prepend-icon="mdi-map"
                    :rules="[rules.required, rules.min]"
                    type="text"
                    required
                ></v-text-field>
                <v-text-field    
                    v-model="discount"  
                    label="Скидка"
                    :rules="[rules.required, rules.max, rules.minN]"
                    name="discount"
                    prepend-icon="mdi-diamond"
                    type="number"
                ></v-text-field>
                <v-col class="d-flex">
                      <v-select
                      :rules="[rules.required]"
                      v-model="selectRoleBind"
                      :items="selectRole"
                      label="Роль"
                      outlined>
                      </v-select>
                  </v-col>
            </v-form>
            </v-card-text>
            <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" 
            @click="editOrderItem" 
            :disabled="!valid">Изменить</v-btn>
            </v-card-actions>
            <div class="text-center ma-2">
            <v-snackbar
                v-model="snackbar"
            >
                {{ textSnackbar }}
                <template v-slot:action="{ attrs }">
                <v-btn
                    color="pink"
                    text
                    v-bind="attrs"
                    @click="snackbar = false"
                >
                    Close
                </v-btn>
                </template>
            </v-snackbar>
            </div>
        </v-card>
    </v-dialog>
</template>

<script>
  export default {
    props: {
        item: Object,
    },
    created() {
        this.email = this.item.Email
        this.address = this.item.Address
        this.discount = this.item.Discount
        this.selectRoleBind = this.item.Role
    },
    methods: {
        async editOrderItem()
        {
            await this.$store.dispatch("editUser", {id:this.item.Id, email:this.name, address:this.address, discount:this.discount, role:this.selectRoleBind});
            await this.$store.dispatch("userList");
            this.dialog = false;
        },
    },
    computed: {
      status() {
        return this.$store.getters.getStatus;
      },
    },
    data () {
      return {
        discount: 0,
        dialog: false,
        valid: true,
        selectRoleBind: 'Customer',
        selectRole: ['Customer', 'Admin'],
        email: "",
        address: "",
        password: "",
        snackbar: false,
        textSnackbar: 'Товар добавлен',
        rules: {
          required: value => !!value || 'Обязательно для заполнения',
          max: v => Number(v) <= 100 || 'Максимальное значение скидки 100',
          minN: v => Number(v) > -1 || 'Значение не может быть отрицательным',
          min: v => v.length >= 10 || 'Минимальное значение адреса 10 символов',
          minPas: v => v.length >= 6 || 'Минимальное значение пароля 6 символов',
          emailMatch: () => ('The email and password you entered don\'t match'),
          email: value => {
            const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            return pattern.test(value) || 'Неверный адрес электронной почты'
          },
        },
      }
    },
  }
</script>

