<template>
    <v-dialog v-model="dialog" width="500">
        <template v-slot:activator="{ on, attrs }">
            <v-btn
                color="green darken-1"
                dark
                class="mx-2 mb-2"
                fab
                v-on="on"
                v-bind="attrs">
                <v-icon dark>mdi-pencil</v-icon>
            </v-btn>
        </template>
        <v-card class="elevation-12">
            <v-toolbar
            color="primary"
            dark
            flat>
            <v-toolbar-title>Изменить</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
            <v-form
            ref="formAuth"
            v-model="valid">
                <v-text-field
                    v-model="name"
                    label="Название"
                    :rules="[rules.required]"
                    name="name"
                    prepend-icon="mdi-rename-box"
                ></v-text-field>
                <v-text-field    
                    v-model="category"  
                    label="Категория"
                    :rules="[rules.required, rules.max]"
                    name="category"
                    prepend-icon="mdi-playlist-plus"
                ></v-text-field>
                <v-text-field    
                    v-model="price"  
                    label="Цена"
                    :rules="[rules.required, rules.minN]"
                    name="price"
                    prepend-icon="mdi-diamond"
                    type="number"
                ></v-text-field>
            </v-form>
            </v-card-text>
            <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" 
            @click="editOrderItem" 
            :disabled="!valid">Изменить</v-btn>
            </v-card-actions>
            <div class="text-center ma-2">
            <v-snackbar
                v-model="snackbar"
            >
                {{ textSnackbar }}
                <template v-slot:action="{ attrs }">
                <v-btn
                    color="pink"
                    text
                    v-bind="attrs"
                    @click="snackbar = false"
                >
                    Close
                </v-btn>
                </template>
            </v-snackbar>
            </div>
        </v-card>
    </v-dialog>
</template>

<script>
  export default {
    props: {
        item: Object,
    },
    created() {
        this.name = this.item.name
        this.category = this.item.category
        this.price = this.item.price
    },
    methods: {
        async editOrderItem()
        {
            await this.$store.dispatch("editOrderItem", {id:this.item.id,name:this.name, category:this.category, price:this.price});
            await this.$store.dispatch("orderItemList");
            this.dialog = false;
        },
    },
    computed: {
      status() {
        return this.$store.getters.getStatus;
      },
    },
    data () {
      return {
        dialog: false,
        valid: true,
        name: "",
        category: "",
        price: 0,
        snackbar: false,
        textSnackbar: 'Товар добавлен',
        rules: {
          required: value => !!value || 'Обязательно для заполнения',
          max: v => v.length <= 30 || 'Максимальное значение категории 30 символов',
          minN: v => Number(v) > -1 || 'Значение не может быть отрицательным',
        },
      }
    },
  }
</script>

