<template>
  <v-layout 
  class="home"
  fill-height
  justify-end
  column>

    <v-flex grow>
      <v-container fluid>
        <v-data-iterator
          no-data-text="Заказов нет"
          :items="items"
          :items-per-page.sync="itemsPerPage"
          :page="page"
          :search="search"
          :sort-by="sortBy.toLowerCase()"
          :sort-desc="sortDesc"
          hide-default-footer
        >
          <template v-slot:header>
            <v-toolbar
              dark
              color="blue darken-3"
              class="mb-1"
            >
              <v-text-field
                v-model="search"
                clearable
                flat
                solo-inverted
                hide-details
                label="Поиск"
              ></v-text-field>
              <template v-if="$vuetify.breakpoint.mdAndUp">
                <v-spacer></v-spacer>
                <v-select
                  v-model="sortBy"
                  flat
                  solo-inverted
                  hide-details
                  item-value="key"
                  item-text="text"
                  :items="keys"
                  label="Sort by"
                ></v-select>
                <v-spacer/>
                <v-btn-toggle
                  v-model="sortDesc"
                  mandatory
                >
                  <v-btn
                    large
                    depressed
                    color="blue"
                    :value="false"
                  >
                    <v-icon>mdi-arrow-up</v-icon>
                  </v-btn>
                  <v-btn
                    large
                    depressed
                    color="blue"
                    :value="true"
                  >
                    <v-icon>mdi-arrow-down</v-icon>
                  </v-btn>
                </v-btn-toggle>
              </template>
            </v-toolbar>
          </template>
          <template v-slot:default="props">
            <v-row>
              <v-col
                v-for="item in props.items"
                :key="item.id"
                cols="12"
                sm="6"
                md="4"
                lg="3"
              >
                <v-card>
                  <v-card-title class="subheading font-weight-bold">{{ item.nameUser }}</v-card-title>

                  <v-divider></v-divider>

                  <v-list dense>
                    <v-list-item
                      v-for="(key, index) in filteredKeys"
                      :key="index"
                    >
                      <v-list-item-content :class="{ 'blue--text': sortBy === key.key }">{{ key.text }}:</v-list-item-content>
                      <v-list-item-content class="align-end" :class="{ 'blue--text': sortBy === key.key }">{{ item[key.key] }}</v-list-item-content>
                    </v-list-item>
                  </v-list>
                  <v-layout  
                  justify-end>
                    <order-info
                      v-if="role == 'Admin'"
                      :itemid="item.id"
                    />
                  </v-layout>
                </v-card>
              </v-col>
            </v-row>
          </template>
        </v-data-iterator>
      </v-container>
    </v-flex>
    <v-flex shrink
    class="px-5 pb-3">
      <v-row class="mt-2" align="center" justify="center">
        <span class="grey--text">Вывод элементов на одной странице</span>
        <v-menu offset-y>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              dark
              text
              color="primary"
              class="ml-2"
              v-bind="attrs"
              v-on="on"
            >
              {{ itemsPerPage }}
              <v-icon>mdi-chevron-down</v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item
              v-for="(number, index) in itemsPerPageArray"
              :key="index"
              @click="updateItemsPerPage(number)"
            >
              <v-list-item-title>{{ number }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>

        <v-spacer></v-spacer>

        <span
          class="mr-4
          grey--text"
        >
          Страниц {{ page }} из {{ numberOfPages }}
        </span>
        <v-btn
          fab
          dark
          color="blue darken-3"
          class="mr-1"
          @click="formerPage"
        >
          <v-icon>mdi-chevron-left</v-icon>
        </v-btn>
        <v-btn
          fab
          dark
          color="blue darken-3"
          class="ml-1"
          @click="nextPage"
        >
          <v-icon>mdi-chevron-right</v-icon>
        </v-btn>
      </v-row>
    </v-flex>
  </v-layout>
</template>
<script>
import OrderInfo from './OrderInfo';
  export default {
    props: {
        itemid: Number,
    },
    components:{
      OrderInfo,
    },
    data () {
      return {
        itemsPerPageArray: [4, 8],
        search: '',
        filter: {},
        sortDesc: false,
        page: 1,
        itemsPerPage: 4,
        sortBy: 'status',
        keys: [
          {key:'status', text: 'статус'},
          {key:'orderDate', text: 'дата оформления'},
          {key:'nameUser', text: 'имя пользователя'},
          {key:'address', text: 'адресс'},
          {key:'code', text: 'код пользователя'},
        ],
      }
    },
    created:async function() {
      await this.$store.dispatch("orderList", this.itemid);
    },
    computed: {
      status() {
        return this.$store.getters.getStatus;
      },
      items(){
        return this.$store.getters.getOrders;
      },
      numberOfPages () {
        return Math.ceil(this.items.length / this.itemsPerPage)
      },
      filteredKeys () {
        return this.keys.filter(key => key.key !== `Name`)
      },
      role(){
        return this.$store.getters.getRole;
      }
    },
    methods: {
      nextPage () {
        if (this.page + 1 <= this.numberOfPages) this.page += 1
      },
      formerPage () {
        if (this.page - 1 >= 1) this.page -= 1
      },
      updateItemsPerPage (number) {
        this.itemsPerPage = number
      },
    },
  }
</script>