<template>
    <v-dialog v-model="dialog" width="500">
        <template v-slot:activator="{ on, attrs }">
            <v-btn
                color="green darken-1"
                dark
                class="mx-2 mb-2"
                fab
                @click="orderInfo"
                v-on="on"
                v-bind="attrs">
                <v-icon dark>mdi-checkbox-multiple-marked</v-icon>
            </v-btn>
        </template>
        <v-card class="elevation-12">
            <v-toolbar
            color="primary"
            dark
            flat>
            <v-toolbar-title>Заказ</v-toolbar-title>
            </v-toolbar>
            <v-list-item>
            <v-list-item-content>
                <v-list-item-title>статус: {{item.status}}</v-list-item-title>
                <v-list-item-title>дата создания: {{item.orderDate}}</v-list-item-title>
                <v-list-item-title v-if="this.item.status != 'Новый'">дата доставки: {{item.shipmentDate}}</v-list-item-title>
                <v-list-item-title>имя пользователя: {{item.nameUser}}</v-list-item-title>
                <v-list-item-title>адресс: {{item.address}}</v-list-item-title>
                <v-list-item-title>код пользователя: {{item.code}}</v-list-item-title>
                <v-list-item-title>скидка: {{item.discount}}</v-list-item-title>
                
            </v-list-item-content>
            </v-list-item>

            <v-list-item 
              two-line
              v-for="(item, i) in item.cartOrderList"
              :key="i"
             >
            <v-list-item-content>
                <v-list-item-title>товар</v-list-item-title>
                <v-list-item-subtitle>Название: {{item.nameItem}}</v-list-item-subtitle>
                <v-list-item-subtitle>Количество: {{item.count}}</v-list-item-subtitle>
                <v-list-item-subtitle>Цена: {{item.price}}</v-list-item-subtitle>
                
            </v-list-item-content>
            </v-list-item>
            <v-card-text>
              <v-form
              v-if="this.item.status != 'Выполнено' && role != 'Customer'"
              ref="formAuth"
              v-model="valid">
                  <template>
                    <v-menu
                      ref="menu"
                      v-model="menu"
                      :disabled="this.disabledOrder"
                      :close-on-content-click="false"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="date"
                          label="Дата доставки "
                          :rules="[rules.required]"
                          readonly
                          v-bind="attrs"
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-date-picker
                        ref="picker"
                        v-model="date"
                        max="2030-01-01"
                        :min="new Date().toISOString().substr(0, 10)"
                        :disabled="this.disabledOrder"
                        @change="save"
                      ></v-date-picker>
                    </v-menu>
                  </template>
                  <v-col class="d-flex">
                      <v-select
                      :rules="[rules.required]"
                      v-model="selectItemBind"
                      :items="selectItem"
                      :disabled="this.disabledOrder"
                      label="Cтатус"
                      outlined>
                      </v-select>
                  </v-col>
              </v-form>
            </v-card-text>
            <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary"  
            :disabled="!valid"
            v-if="this.item.status != 'Выполнено' && role != 'Customer'"
            @click="editOrderItem">Сохранить</v-btn>
            </v-card-actions>
            <div class="text-center ma-2">
            <v-snackbar
                v-model="snackbar"
            >
                {{ textSnackbar }}
                <template v-slot:action="{ attrs }">
                <v-btn
                    color="pink"
                    text
                    v-bind="attrs"
                    @click="snackbar = false"
                >
                    Close
                </v-btn>
                </template>
            </v-snackbar>
            </div>
        </v-card>
    </v-dialog>
</template>

<script>
  export default {
    props: {
      source: String,
      itemid: Number,
    },
    watch: {
      menu (val) {
        val && setTimeout(() => (this.$refs.picker.activePicker = 'YEAR'))
      },
    },
    methods: {
        save (date) 
        {
          this.$refs.menu.save(date)
        },
        async editOrderItem()
        {
            await this.$store.dispatch("editOrder", {id:this.item.id, shipmentDate:this.date, status:this.selectItemBind});
            await this.$store.dispatch("orderList");
            this.dialog = false;
        },
        async orderInfo()
        {
          await this.$store.dispatch("orderInfo", this.itemid);
           if (this.item.status == 'Выполняется'){
              this.disabledOrder = true;
              this.selectItemBind = 'Выполнено';
              if (this.date == null) this.date = this.item.shipmentDate;
          }
        },
    },
    created:async function() {
    },
    computed: {
      status() {
        return this.$store.getters.getStatus;
      },
      item() {
        return this.$store.getters.getOrderInfo;
      },
      role() {
      return this.$store.getters.getRole;
      },
    },
    data () {
      return {
        disabledOrder: false,
        date: null,
        menu: false,
        dialog: false,
        valid: true,
        selectItemBind: 'Выполняется',
        selectItem: ['Новый','Выполняется', 'Выполнено'],
        shipmentDate: "",
        snackbar: false,
        textSnackbar: 'Электронная почта или пароль введены неверно',
        rules: { required: value => !!value || 'Обязательно для заполнения',},
      }
    },
  }
</script>

