<template>
  <v-app id="sandbox">
    <v-navigation-drawer
      v-model="primaryDrawer.model"
      :clipped="primaryDrawer.clipped"
      :floating="primaryDrawer.floating"
      :mini-variant="primaryDrawer.mini"
      :permanent="primaryDrawer.type === 'permanent'"
      :temporary="primaryDrawer.type === 'temporary'"
      app
      overflow
    >
    <v-list dense>
      <v-subheader>Меню</v-subheader>
      <v-list-item-group v-model="item" color="primary">
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.link">
          <v-list-item-icon>
            <v-badge
                v-if="item.text == 'Корзина' && cart.length > 0"
                color="green"
                :content="cart.length">
            <v-icon v-text="item.icon"></v-icon>
            </v-badge>
            <v-icon v-else v-text="item.icon"></v-icon>
          </v-list-item-icon>
          <v-list-item-content>
              
            <v-list-item-title v-text="item.text"></v-list-item-title>
            
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>
    </v-navigation-drawer>

    <v-app-bar
      :clipped-left="primaryDrawer.clipped"
      app
    >
      <v-app-bar-nav-icon
        v-if="primaryDrawer.type !== 'permanent'"
        @click.stop="primaryDrawer.model = !primaryDrawer.model"
      ></v-app-bar-nav-icon>
      <v-toolbar-title>Smart-Com</v-toolbar-title>
      <v-spacer/>
      <template v-if="role == ''">
      <v-dialog v-model="dialogReg"
        width="500">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            class="mr-3"
            color="blue lighten-2"
            dark
            outlined
            tile
            v-bind="attrs"
            @click="dialogReg=true">
            Регистрация
          </v-btn>
        </template>
        <register @close-dialogReg="dialogReg=false"/>
      </v-dialog>
      <v-dialog v-model="dialogAuth"
        width="500">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            color="blue lighten-2"
            dark
            outlined
            tile
            v-bind="attrs"
            @click="dialogAuth=true">
            Авторизация
          </v-btn>
        </template>
        <authorization @close-dialogAuth="dialogAuth=false"/>
      </v-dialog>
      </template>
      <template v-if="role != ''">
        <span class="mr-3">
          {{ username }}
        </span>
        <v-btn
          color="blue lighten-2"
          dark
          @click="LogoutUser" 
          outlined
          tile>
          Выход
        </v-btn>
      </template>
    </v-app-bar>

    <v-main>
        <router-view/>
    </v-main>

    <v-footer
      :inset="footer.inset"
      app
    >
      <span class="px-4">&copy; {{ new Date().getFullYear() }}</span>
      <v-spacer/>
        <v-switch
          v-model="$vuetify.theme.dark"
          primary
          hide-details
          class="mt-0 pt-0"
          dense
          label="Темная тема">
        </v-switch>
    </v-footer>
    <div class="text-center ma-2">
      <v-snackbar
        v-model="snackbar"
      >
        {{ textSnackbar }}
        <template v-slot:action="{ attrs }">
          <v-btn
            color="pink"
            text
            v-bind="attrs"
            @click="snackbar = false"
          >
            Close
          </v-btn>
        </template>
      </v-snackbar>
    </div>
  </v-app>
  
</template>

<script>
import HelloWorld from './components/HelloWorld';
import Register from './views/Register';
import Authorization from './views/Authorization';
export default {
  name: 'App',
  components: {
    HelloWorld,
    Register,
    Authorization,
  },
  methods: {
    LogoutUser(){
      this.$store.dispatch("logoutUser")
      this.dialogAuth = false;
      this.dialogReg = false;
      this.snackbar = true;
      if (this.$route.path != '/') this.$router.push('/');
      this.textSnackbar = 'Выход с аккаунта';
    },
    goto(link){
      this.$router
    }
  },
  computed: {
    username() {
      return this.$store.getters.getUsername;
    },
    role() {
      return this.$store.getters.getRole;
    },
    reg() {
      return this.$store.getters.getReg;
    },
    cart() {
      return this.$store.getters.getCart;
    },
  },
  created: function () {
    this.$nextTick(function () {
      
    })
  },
  watch: {
    role() {
      if (this.role == '')
      {
        this.items = [{ text: 'Главная', icon: 'mdi-ambulance', link:'/'}];
      } else 
      {
        this.snackbar = true;
        this.textSnackbar = 'Успешная авторизация'
        if (this.role == 'Customer'){
          this.items = [
            { text: 'Товары', icon: 'mdi-pill', link:'/'},
            { text: 'Корзина', icon: 'mdi-cart', link:'/cart'},
            { text: 'Заказы', icon: 'mdi-shopping', link:'/orderU'},
          ];
        } else if (this.role == 'Admin'){
          this.items = [
            { text: 'Товары', icon: 'mdi-pill', link:'/'},
            { text: 'Заказы', icon: 'mdi-shopping', link:'/orderA'},
            { text: 'Пользователи', icon: 'mdi-account-multiple', link:'/userA'},
          ];
        }
      }
      
    },
    reg() {
      if (this.reg){
        this.snackbar = true;
        this.textSnackbar = 'Успешная регистрация'
        this.$store.commit("setReg", false);
      }  
    }
  },
  data: () => ({
      dialogReg: false,
      dialogAuth: false,
      drawers: ['Default (no property)', 'Permanent', 'Temporary'],
      primaryDrawer: {
        model: false,
        type: 'default (no property)',
        clipped: false,
        floating: false,
        mini: false,
        
      },
      snackbar: false,
      textSnackbar: '',
      item: 1,
      items: [{ text: 'Главная', icon: 'mdi-ambulance', link:'/'}],
      footer: {
        inset: false,
      },
    }),
};
</script>
